<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omega.inventoryConsolidated">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name="com.example.omega.inventoryConsolidated.HomeScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.omega.inventoryConsolidated.Insert"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.omega.inventoryConsolidated.Date"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.omega.inventoryConsolidated.FinalScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.omega.inventoryConsolidated.Paper"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.omega.inventoryConsolidated.ViewRecords"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.omega.inventoryConsolidated.ViewRecordsMain"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>